# version: "3.9"

services:
  database:
    image: postgres:15
    container_name: bookapi-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pro
      POSTGRES_DB: bookapi
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d bookapi-db"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    image: bookapi-api
    container_name: bookapi-backend
    ports:
      - "8000:8000"
    depends_on:
      - database
      - redis
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:pro@database:5432/bookapi
      - REDIS_URL=redis://redis:6379/0


  redis:
    image: redis:latest
    container_name: redis-cache
    restart: always
    ports:
     - "6379:6379"
    volumes:
     - redis_data:/data


volumes:
  db_data:
  redis_data:
